name: Build Tesina PDF

on:
  push:
    branches: [ main, ToUbuntu ]
    paths:
      - '**/**'

permissions:
  contents: write
  pages: write
  id-token: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dmgiulioromano/latex-docker-ubuntu:2025.1-small

    steps:
    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y git python3-pip pandoc fonts-liberation
        fc-cache -f -v
        pip install pyyaml
        fc-list | grep -i "Liberation Sans"

    - name: Install latest Pandoc via official .deb
      run: |
        PANDOC_VERSION=3.7.0.2
        wget https://github.com/jgm/pandoc/releases/download/${PANDOC_VERSION}/pandoc-${PANDOC_VERSION}-1-amd64.deb
        apt-get update
        apt-get install -y ./pandoc-${PANDOC_VERSION}-1-amd64.deb
        rm pandoc-${PANDOC_VERSION}-1-amd64.deb
        pandoc --version

    - name: Install pandoc-crossref
      run: |
        PANDOC_XREF_VERSION=0.3.22
        wget https://github.com/lierdakil/pandoc-crossref/releases/download/v${PANDOC_XREF_VERSION}/pandoc-crossref-Linux-X64.tar.xz
        tar -xJf pandoc-crossref-Linux-X64.tar.xz
        mv pandoc-crossref /usr/local/bin/
        pandoc-crossref --version

    - name: Read font from config.yaml
      id: read_font
      run: |
        FONT=$(python3 .github/scripts/get_font.py)
        echo "FONT=$FONT" >> $GITHUB_ENV

    - name: Show FONT
      run: echo "FONT=$FONT"

    - name: Install Microsoft Core Fonts (including Arial)
      if: env.FONT == 'arial'
      run: |
        apt-get update
        # Accetta automaticamente la licenza EULA dei Microsoft fonts
        echo "ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true" | debconf-set-selections
        apt-get install -y ttf-mscorefonts-installer fontconfig
        # Aggiorna la cache dei font per renderli disponibili subito
        fc-cache -f

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Extract metadata & concatenate markdown
      run: |
        rm -f README.md *.pdf        
        python3 .github/scripts/build-tesina.py

    - name: Build PDF with Pandoc
      run: |
        TITLE=$(sed -n '/^---$/,/^---$/p' README.md | grep '^title:' | head -n1 | sed 's/title:[[:space:]]*//; s/^ *//; s/ *$//; s/[*]//g')
        SAFE_TITLE=$(echo "$TITLE" | tr ' ' '_' | tr -cd '[:alnum:]_')
        TIMESTAMP=$(date +%Y%m%d_%H%M%S)
        #PDF_NAME="${SAFE_TITLE}-${TIMESTAMP}.pdf"
        PDF_NAME="${SAFE_TITLE}-CONSAQ-${TIMESTAMP}.pdf"
        pandoc README.md \
          --pdf-engine=xelatex \
          --template=styles/templatePandoc.latex \
          --lua-filter=lua-filters/multibib.lua \
          --filter pandoc-crossref \
          -o "$PDF_NAME"
        echo "PDF_NAME=$PDF_NAME" >> $GITHUB_ENV
        mkdir -p pages_artifact
        cp "${PDF_NAME}" pages_artifact/latest.pdf

    - uses: actions/upload-artifact@v4
      with:
        name: "${{ env.PDF_NAME }}"
        path: "${{ env.PDF_NAME }}"
        overwrite: true
 
    - name: Upload artifact per Pages
      uses: actions/upload-pages-artifact@v4
      with:
        path: pages_artifact


    - name: Commit del documento assemblato
      run: |
        cd "$GITHUB_WORKSPACE"
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        rm -f *.pdf
        git add -u
        git add README.md
        git diff --staged --quiet || git commit -m "Auto-aggiornamento documento con template [skip ci]"
        
    - name: Push delle modifiche
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref_name }}
        
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy su GitHub Pages
        uses: actions/deploy-pages@v4
